<% include ../../partials/admin-header.ejs %>

<div class="content">
    <div class="container spark-screen">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading"><%= data.formTitle %></div>
                    <div class="panel-body">
                        <% if (message) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>
                        <form action="<%= data.formAction %>" method="<%= data.formMethod %>" class="clearfix">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Фамилия:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-fw fa-user"></i>
                                            </div>
                                            <input type="text" name="name" class="form-control" value="<%= agent.name %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Имя:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-fw fa-user"></i>
                                            </div>
                                            <input type="text" name="surname" class="form-control" value="<%= agent.surname %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Номер телефона:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <input type="text" name="telNum" class="form-control" value="<%= agent.telNum %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <% if (agent.name) { %>
                                        <button type="button" class="btn btn-sm btn-danger pull-left" onclick="deleteAgent('<%= agent._id %>')">Delete Agent</button>
                                    <% } %>
                                    <button class="btn btn-sm btn-success pull-right">Save</button>
                                    <a href="/admin/agent/list" class="btn btn-sm btn-primary pull-right btn-cancel">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteAgent(agentId) {
        $.ajax({
            url: '/admin/agent/' + agentId,
            method: 'delete',
            success: function () {
                window.location.replace('/admin/agent/list');
            }
        });
    }
</script>

<% include ../../partials/admin-footer.ejs %>