<% include ../../partials/admin-header.ejs %>

<div class="content">
    <div class="container spark-screen">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading"><%= data.formTitle %></div>
                    <div class="panel-body">

                        <% if (message) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>

                        <form action="<%= data.formAction %>" method="<%= data.formMethod %>" class="clearfix">
                            <input id="pics" name="pics" value="<%= item.pics %>" hidden>
                            <h4>Address</h4>
                            <div class="row">
                                <div class="col-lg-10">
                                    <input id="address" name="address" placeholder="address" value="<%= item.address %>">
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group input-group-lg">
                                        <button type="submit" class="btn btn-lg btn-success"><%= data.btnText %></button>
                                    </div>
                                </div>
                            </div>
                            <h4>Coordinates</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>lat</label>
                                    <input type="text" id="lat" name="lat" placeholder="lat" value="<%= item.coordinates.lat %>">
                                </div>
                                <div class="col-lg-6">
                                    <label>lng</label>
                                    <input type="text" id="lng" name="lng" placeholder="lng" value="<%= item.coordinates.lng %>">
                                </div>
                            </div>
                            <h4>Params</h4>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group input-group-lg">
                                        <label for="code">Code</label>
                                        <input type="text" name="code" placeholder="code" value="<%= item.code %>">
                                    </div>
                                    <div class="form-group input-group-lg">
                                        <label>Price</label>
                                        <input type="text" name="price" placeholder="price" value="<%= item.price %>">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group input-group-lg">
                                        <label>Beds</label>
                                        <input type="text" name="rooms" placeholder="rooms" value="<%= item.rooms %>">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group input-group-lg">
                                        <label>Sqft</label>
                                        <input type="text" name="sqft" placeholder="sqft" value="<%= item.sqft %>">
                                    </div>
                                </div>
                            </div>
                            <h4>Location</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input id="pac-input" class="controls" type="text"
                                           placeholder="Enter a location">
                                    <div id="map"></div>
                                    <div id="infowindow-content">
                                        <span id="place-name" class="title"></span><br>
                                        Place ID <span id="place-id"></span><br>
                                        <span id="place-address"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="file-upload" action="/admin/img" method="post" class="clearfix" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>Images</h4>
                                    <div id="status"></div>
                                    <div class="row">
                                        <div class="form-group input-group-lg col-lg-6">
                                            <input type="file" name="img" id="img">
                                        </div>
                                        <div class="form-group input-group-lg col-lg-6">
                                            <button id="upload" class="btn btn-lg btn-success">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-lg-12" id="gallery">
                                <h4>Gallery</h4>
                                <% if (pics) { %>
                                <% pics.forEach(function(pic) { %>
                                <div class="col-lg-6">
                                    <img class="img-responsive" src="/img/<%= pic %>" alt="Photo">
                                </div>
                                <% }); %>
                                <% } else { %>
                                <div class="col-lg-6" id="empty-img">
                                    <p>No photos yet.</p>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/admin-footer.ejs %>